html, body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  padding: 0px;
  margin: 0px;
}

h1{
  font-weight: 700;
  margin: 0px;
}

h2{
  font-weight: 400;
  margin: 0px;
}

h3{
  font-weight: 400;
  margin: 0px;
}

.main-box{
  height: 100%;
  width: 100%;
}

.center{
  text-align: center;
}

.innerBox{
  color: @inverseText;
}

.about-me{
  text-align: right;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #ffffff;
}

.about-me h1{
  font-size: 200%;
}

.clock{
  height: 60%;
  background-color: #000;
}

.center-container{
width:100%;
height:100%
}

.main-pad{
  width: 5%;
  height: 100%
  float: left;
}

.main-side{
  width: 5%;
  height: 100%
  float: left;
}

.top{
  width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px)
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px)
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}
