html, body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  padding: 0px;
  margin: 0px;
}

h1{
  font-weight: 700;
  margin: 0px;
}

h2{
  font-weight: 400;
  margin: 0px;
}

h3{
  font-weight: 400;
  margin: 0px;
}

.main-box{
  height: 100%;
  width: 100%;
}

.center{
  text-align: center;
}

.innerBox{
  color: @inverseText;
}

.about-me{
  text-align: right;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #ffffff;
}

.about-me h1{
  font-size: 200%;
}

.clock{
  height: 60%;
  background-color: #000;
}

.center-container{
width:100%;
height:100%
}

.top, .middle, .bottom{
  width: 100%;
}

.top, .middle{
  float: left;
}

.main-pad{
  width: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 20%;
  float: left;
}

.main-side{
  border-style: solid;
  width: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 20%;
  float: left;
}

.name, .time{
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-width: 2%;
  border-bottom-width: 2%;
  border-left: 0;
  border-right: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 200%;
  width: 28%;
  float: inherit;
}

.time{
  text-align: right;
  padding-right: 1%;
}

.name{
  text-align: left;
  padding-left: 1%;
}

.git, .more{
  padding-top: 3%;
  width: 30%;
  min-height: 40%;
  float: left;
}

.git{
  text-align: right;
}

.more{
  text-align: left;
}

.bottom{
  float: none;
}

a {
  color:inherit;
  text-decoration: none;
 }

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px)
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px)
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}
