/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header {
  color: #ff9090;
  text-align: center;
  font-size: 150%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 0;
}

.icon {
  float: left;
  width: 50%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor: pointer;
    z-index: 1;
}

.icon:hover{
  transition: background-color .5s ease, color .5s ease;
  color: #ffffff;
  background-color: #ff9090;
}

#clock {
  -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
  float: left;
  width: 50%;
  height: 34px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor: pointer;
  z-index: 1;
}

#clock:hover{
  -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
  border-top: 12px solid;
  border-color: #ff9090;
  color: #ffffff;
  background-color: #ff9090;
}

.toggledClock{
  -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
  border-top: 12px solid;
  border-color: #ff9090;
  color: #ffffff;
  background-color: #ff9090;
}

.toggledClock:hover{
  -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
  border-top: 0px solid;
  border-color: #ffffff;
  color: #ff9090;
  background-color: #ffffff;
}

.biowrapper{
  border: 6px #ff9090 solid;
  color: #ff9090;
  text-align: center;
  font-size: 180%;
  width: 100%;
  height: -moz-calc(100% - 34px);
  height: -webkit-calc(100% - 34px);
  height: -o-calc(100% - 34px);
  height: calc(100% - 34px);
  top:34px;
  position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor: default;
}

.bio{
  top: -moz-calc(50% - 80px);
  top: -webkit-calc(50% - 80px);
  top: -o-calc(50% - 80px);
  top: calc(50% - 80px);
  left: 6px;
  width: -moz-calc(100% - 12px);
  width: -webkit-calc(100% - 12px);
  width: -o-calc(100% - 12px);
  width: calc(100% - 12px);
  position: absolute;
  cursor: default;
}

.clrswrapper{
  position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  top: -moz-calc(100% + 34px);
  top: -webkit-calc(100% + 34px);
  top: -o-calc(100% + 34px);
  top: calc(100% + 34px);
  width: 100%;
  height: -moz-calc(100% - 34px);
  height: -webkit-calc(100% - 34px);
  height: -o-calc(100% - 34px);
  height: calc(100% - 34px);
  float: left;
  z-index: 2;
}

.clrslinear, .clrslinearR{
    float: left;
    height: 100%;
    width: 50%;
}

.git, .down{
  position: fixed;
  width: 20px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor: pointer;
    z-index: 4;
}

.git{
  top: -moz-calc(100% - 44px);
  top: -webkit-calc(100% - 44px);
  top: -o-calc(100% - 44px);
  top: calc(100% - 44px);
  left: 13px;
}

#down{
  top: -moz-calc(100% - 44px);
  top: -webkit-calc(100% - 44px);
  top: -o-calc(100% - 44px);
  top: calc(100% - 44px);
  left: -moz-calc(100% - 44px);
  left: -webkit-calc(100% - 44px);
  left: -o-calc(100% - 44px);
  left: calc(100% - 44px);
  -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.up{
  transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-o-transform:rotate(180deg);
}



/* ==========================================================================
   Media Queries
   ========================================================================== */
   @media only screen
   and (min-width : 543px)
   and (max-width : 575px) {
     .bio{
       top: -moz-calc(50% - 100px);
       top: -webkit-calc(50% - 100px);
       top: -o-calc(50% - 100px);
       top: calc(50% - 100px);
     }
   }

   @media only screen
   and (max-width : 543px) {
     .bio{
       top: -moz-calc(50% - 120px);
       top: -webkit-calc(50% - 120px);
       top: -o-calc(50% - 120px);
       top: calc(50% - 120px);
     }
   }

   @media only screen
   and (max-height: 276px){
     .bio{
       top: -moz-calc(50% - 100px);
       top: -webkit-calc(50% - 100px);
       top: -o-calc(50% - 100px);
       top: calc(50% - 40px);
       font-size: 50%;
     }
     .innerclock{
       font-size: 70%;
     }
   }

   /* Smartphones (landscape) ----------- */
   @media only screen
   and (min-width : 321px) {
   }

   /* Smartphones (portrait) ----------- */
   @media only screen
   and (max-width : 320px) {
   }

   /* iPads (portrait and landscape) ----------- */
   @media only screen
   and (min-device-width : 768px)
   and (max-device-width : 1024px) {
     }
   }

   /* iPads (landscape) ----------- */
   @media only screen
   and (min-device-width : 768px)
   and (max-device-width : 1024px)
   and (orientation : landscape) {
     /* Styles */
   }

   /* iPads (portrait) ----------- */
   @media only screen
   and (min-device-width : 768px)
   and (max-device-width : 1024px)
   and (orientation : portrait) {
     /* Styles */
   }

   /* Desktops and laptops ----------- */
   @media only screen
   and (min-width : 1224px) {
     /* Styles */
   }

   /* Large screens ----------- */
   @media only screen
   and (min-width : 1824px) {
     /* Styles */
   }

   /* iPhone 4 - 5s ----------- */
   @media
   only screen and (-webkit-min-device-pixel-ratio : 1.5),
   only screen and (min-device-pixel-ratio : 1.5) {
     /* Styles */
   }

   /* iPhone 6 ----------- */
   @media
   only screen and (max-device-width: 667px)
   only screen and (-webkit-device-pixel-ratio: 2) {
     /* Styles */
   }

   /* iPhone 6+ ----------- */
   @media
   only screen and (min-device-width : 414px)
   only screen and (-webkit-device-pixel-ratio: 3) {
     /*** You've spent way too much on a phone ***/
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
