* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
  color: rgb(20, 20, 20);
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-height: 768px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  background: #FFFFFA;

  header {
    width: 100%;
    text-align: center;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  .top {
    padding-top: 32px;
    flex-grow: 1;
  }

  .snellen-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      width: 60%;
      min-width: 720px;
      text-align: center;

      :first-child {
        flex-grow: 1;
        padding-left: 20px;
        font-weight: bold;
      }

      :last-child {
        font-style: oblique;
        user-select: none;
        width: 20px;
      }

    }
    :nth-child(1) { :first-child {
      font-size: 8em;
      line-height: 1em;
    }}
    :nth-child(2) { :first-child {
      font-size: 7em;
      line-height: 1.1em;
    }}
    :nth-child(3) { :first-child {
      font-size: 6em;
      line-height: 1.2em;
    }}
    :nth-child(4) { :first-child {
      font-size: 5.5em;
      line-height: 1.1em;
    }}
    :nth-child(5) { :first-child {
      font-size: 4em;
      line-height: 1.1em;
    }}
    :nth-child(6) { :first-child {
      font-size: 2.78em;
      line-height: 1.2em;
    }}
    :nth-child(7) { :first-child {
      font-size: 1.75em;
      line-height: 1.8em;
    }}
    :nth-child(8) {
      :first-child {
        font-size: 1.05em;
        line-height: 2em;
    }}

    aside {
      width: 100%;
      text-align: center;
      font-size: .7em;
      color: rgba(0, 0, 0, .7);
      padding-top: 15px;
      padding-bottom: 10px;
    }

  }

  summary {
    display: none;
  }

  .bottom {
    padding-bottom: 35px;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;

    button {
      background: none;
      color: inherit;
      border: .2em solid rgba(255, 0, 0, .7);
      border-radius: .5em;
      padding-top: .1em;
      padding-bottom: .15em;
      padding-left: .4em;
      padding-right: .4em;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      min-height: 0;
    }

    span {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}




// @media (min-width: 741px) and (max-height: 600px){
//   body {
//     font-size: 13px;
//   }
// }
// @media (max-width: 740px) and (min-width: 375px) {
//   body {
//     font-size: 10px;
//     min-height: 600px;
//   }
//   .snellen-container {
//     div {
//       min-width: 375px;
//     }
//   }
//   .duochrome-container {
//     min-height: 600px;
//     .skewed-duochrome-containers {
//       min-width: 282px;
//     }
//   }
// }
// @media (max-width: 375px){
//   body {
//     font-size: 8px;
//     min-height: 500px;
//     min-width: 300px;
//   }
//   .snellen-container {
//     div {
//       min-width: 290px;
//     }
//   }
//   .duochrome-container {
//     min-height: 500px;
//     .skewed-duochrome-containers {
//       min-width: 220px;
//     }
//   }
// }
