// font-size, line-height

$snellen-typeset: (
  (8em, 1em),
  (7em, 1.1em),
  (6em, 1.2em),
  (5.5em, 1.1em),
  (4em, 1.15em),
  (2.78em, 1.2em),
  (1.75em, 1.8em),
  (1em, 2em)
);

$font-color: rgb(20, 20, 20);
$nude-background: rgb(255, 255, 250);
$aside-font-color: rgba(20, 20, 20, .7);
$contrast-color: rgb(255, 50, 50);

// global styles

* {
  box-sizing: border-box;
  color: $font-color;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none; // no underline
}

// global layout styles

body {
  background: $nude-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  width: 100vw;

  header {
    text-align: center;
    width: 100%;
  }

  nav {
    text-align: center;
    width: 100%;
  }

  .top { flex-grow: 1; }

  .snellen-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    div {
      display: flex;
      text-align: center;

      :first-child {
        flex-grow: 1;
        font-weight: bold;
      }

      :last-child {
        font-style: oblique;
        user-select: none;
      }

    }

    @for $i from 1 through length($snellen-typeset) {
      :nth-child(#{$i}) { :first-child {
          font-size: nth(nth($snellen-typeset, $i), 1);
          line-height: nth(nth($snellen-typeset, $i), 2);
        }
      }
    }

    aside {
      color: $aside-font-color;
      font-size: .7em;
      text-align: center;
      width: 100%;
    }

  }

  summary { display: none; }

  .bottom {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;

    button {
      background: none;
      border: .2em solid $contrast-color;
      border-radius: .5em;
      color: inherit;
      cursor: pointer;
      font: inherit;
      outline: inherit;
      padding-bottom: .15em;
      padding-left: .4em;
      padding-right: .4em;
      padding-top: .1em;
    }
  }
}

// media query dimensions

@media (min-width: 3000px) {
  body {
    font-size: 24px;
    min-height: 1750px;

    .top { padding-top: 42px; }

    .snellen-container {
      div {
        max-width: 2100px;
        width: 60%;

        :first-child { padding-left: 40px; }

        :last-child { width: 40px; }
      }

      aside {
        padding-bottom: 20px;
        padding-top: 35px;
      }
    }

    .bottom {
      padding-bottom: 50px;

      span {
        margin-left: 6px;
        margin-right: 6px;
      }
    }
  }
}

@media (min-width: 2000px) and (max-width: 2999px) {
  body {
    font-size: 20px;
    min-height: 1300px;


    .top { padding-top: 32px; }

    .snellen-container {
      div {
        max-width: 1550px;
        width: 60%;

        :first-child { padding-left: 30px; }

        :last-child { width: 30px; }
      }

      aside {
        padding-bottom: 15px;
        padding-top: 25px;
      }
    }

    .bottom {
      padding-bottom: 40px;

      span {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1999px) {
  body {
    font-size: 11px;
    min-height: 680px;

    .top { padding-top: 15px; }

    .snellen-container {
      div {
        max-width: 800px;
        width: 60%;

        :first-child { padding-left: 20px; }

        :last-child { width: 20px; }
      }

      aside {
        padding-bottom: 15px;
        padding-top: 20px;
      }
    }

    .bottom {
      padding-bottom: 25px;

      span {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 999px) {
  body {
    font-size: 10px;
    min-height: 500px;

    .top { padding-top: 20px; }

    .snellen-container {
      div {
        max-width: 470px;
        width: 60%;

        :first-child { padding-left: 10px; }

        :last-child { width: 10px; }
      }

      aside {
        padding-bottom: 7px;
        padding-top: 10px;
      }
    }

    .bottom {
      padding-bottom: 15px;

      span {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}

@media (min-width: 330px) and (max-width: 499px) {
  body {
    font-size: 8px;
    min-height: 610px;

    .top { padding-top: 30px; }

    .snellen-container {
      div {
        min-width: 290px;
        width: 70%;

        :first-child { padding-left: 5px; }

        :last-child { width: 5px; }
      }

      aside {
        font-size: .9em;
        padding-bottom: 7px;
        padding-top: 20px;
      }
    }

    .bottom {
      padding-bottom: 30px;

      span {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}

@media (max-width: 329px) {
  body {
    font-size: 7px;
    min-height: 490px;
    min-width: 300px;

    .top { padding-top: 25px; }

    .snellen-container {
      div {
        width: 85%;

        :first-child { padding-left: 3px; }

        :last-child { width: 3px; }
      }

      aside {
        font-size: 1em;
        padding-bottom: 7px;
        padding-top: 25px;
      }
    }

    .bottom {
      padding-bottom: 22px;

      span {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}
