// font-size, line-height
$snellen-typeset: (
  (8em, 1em),
  (7em, 1.1em),
  (6em, 1.2em),
  (5.5em, 1.1em),
  (4em, 1.15em),
  (2.78em, 1.2em),
  (1.75em, 1.8em),
  (1em, 2em)
);

/* global styles */

* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
  color: rgb(20, 20, 20);
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

/* global layout styles */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #FFFFFA;

  header {
    width: 100%;
    text-align: center;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  .top { flex-grow: 1; }

  .snellen-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      text-align: center;

      :first-child {
        flex-grow: 1;
        font-weight: bold;
      }

      :last-child {
        font-style: oblique;
        user-select: none;
      }

    }

    @for $i from 1 through length($snellen-typeset) {
      :nth-child(#{$i}) { :first-child {
        font-size: nth(nth($snellen-typeset, $i), 1);
        line-height: nth(nth($snellen-typeset, $i), 2);
      }}
    }

    aside {
      width: 100%;
      text-align: center;
      font-size: .7em;
      color: rgba(0, 0, 0, .7);
    }

  }

  summary { display: none; }

  .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;

    button {
      background: none;
      color: inherit;
      border: .2em solid rgb(255, 50, 50);
      border-radius: .5em;
      padding-top: .1em;
      padding-bottom: .15em;
      padding-left: .4em;
      padding-right: .4em;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }
}

/* media query dimensions */

@media (min-width: 3000px) {
  body {
    min-height: 1750px;
    font-size: 24px;

    .top { padding-top: 82px; }

    .snellen-container {
      div {
        width: 60%;
        max-width: 2100px;

        :first-child { padding-left: 40px; }

        :last-child { width: 40px; }
      }

      aside {
        padding-top: 35px;
        padding-bottom: 20px;
      }
    }

    .bottom {
      padding-bottom: 90px;

      span {
        margin-left: 6px;
        margin-right: 6px;
      }
    }
  }
}

@media (min-width: 2000px) and (max-width: 2999px) {
  body {
    min-height: 1300px;
    font-size: 20px;

    .top { padding-top: 52px; }

    .snellen-container {
      div {
        width: 60%;
        max-width: 1550px;

        :first-child { padding-left: 30px; }

        :last-child { width: 30px; }
      }

      aside {
        padding-top: 25px;
        padding-bottom: 15px;
      }
    }

    .bottom {
      padding-bottom: 60px;

      span {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1999px) {
  body {
    min-height: 680px;
    font-size: 11px;

    .top { padding-top: 42px; }

    .snellen-container {
      div {
        width: 60%;
        max-width: 800px;

        :first-child { padding-left: 20px; }

        :last-child { width: 20px; }
      }

      aside {
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }

    .bottom {
      padding-bottom: 50px;

      span {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 999px) {
  body {
    font-size: 8px;

    .top { padding-top: 35px; }

    .snellen-container {
      div {
        width: 60%;
        max-width: 470px;

        :first-child { padding-left: 10px; }

        :last-child { width: 10px; }
      }

      aside {
        padding-top: 10px;
        padding-bottom: 7px;
      }
    }

    .bottom {
      padding-bottom: 43px;

      span {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}

@media (min-width: 330px) and (max-width: 499px) {
  body {
    min-height: 600px;
    font-size: 7px;

    .top { padding-top: 55px; }

    .snellen-container {
      div {
        width: 70%;
        min-width: 290px;

        :first-child { padding-left: 5px; }

        :last-child { width: 5px; }
      }

      aside {
        font-size: 1em;
        padding-top: 25px;
        padding-bottom: 7px;
      }
    }

    .bottom {
      padding-bottom: 53px;

      span {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}

@media (max-width: 329px){
  body {
    min-height: 490px !important;
    min-width: 300px !important;
    font-size: 6px;

    .top { padding-top: 40px; }

    .snellen-container {
      div {
        width: 85%;

        :first-child { padding-left: 3px; }

        :last-child { width: 3px; }
      }

      aside {
        font-size: 1em;
        padding-top: 25px;
        padding-bottom: 7px;
      }
    }

    .bottom {
      padding-bottom: 38px;

      span {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}
