* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-height: 768px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFA;
  .top {
    padding-top: 10px;
    flex-grow: 1;
  }
  .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 12px;
  }
}
header {
  width: 100%;
  text-align: center;
}
nav {
  width: 100%;
  text-align: center;
}
.snellen-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: flex;
    width: 60%;
    min-width: 720px;
    text-align: center;
    :first-child {
      flex-grow: 1;
      padding-left: 10px;
      font-weight: bold;
    }
    :last-child {
      font-style: oblique;
      user-select: none;
      width: 20px;
    }
  }
  :nth-child(1) { :first-child {
    font-size: 8em;
    line-height: 1em;
  }}
  :nth-child(2) { :first-child {
    font-size: 7em;
    line-height: 1.1em;
  }}
  :nth-child(3) { :first-child {
    font-size: 6em;
    line-height: 1.2em;
  }}
  :nth-child(4) { :first-child {
    font-size: 5.5em;
    line-height: 1.1em;
  }}
  :nth-child(5) { :first-child {
    font-size: 4em;
    line-height: 1.1em;
  }}
  :nth-child(6) { :first-child {
    font-size: 2.78em;
    line-height: 1.2em;
  }}
  :nth-child(7) { :first-child {
    font-size: 1.75em;
    line-height: 1.8em;
  }}
  :nth-child(8) {
    :first-child {
      font-size: 1.05em;
      line-height: 2em;
  }}
}
aside {
  width: 100%;
  text-align: center;
  font-size: .7em;
  color: rgba(0, 0, 0, .7);
  padding-top: 15px;
  padding-bottom: 10px;
}
summary {
  display: none;
}
button {
  background: none;
  color: inherit;
  border: 2px solid rgba(255, 0, 0, .7);
  border-radius: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.duochrome-container {
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  min-height: 768px;
  display: flex;
  flex-direction: row;
  div {
    height: 100%;
  }
  :nth-child(1) {
    height: 100%;
    flex-grow: 1;
  }
  :nth-child(3) {
    height: 100%;
    flex-grow: 1;
  }
  .skewed-duochrome-containers {
    height: 100%;
    display: flex;
    .large-duochrome { width: 71%; }
    .small-duochrome { width: 29%; }
  }
}
@media (max-width: 740px) and (min-width: 375px){
  body {
    font-size: 10px;
    min-height: 600px;
  }
  .snellen-container {
    div {
      min-width: 375px;
    }
  }
  .duochrome-container {
    min-height: 600px;
  }
}
@media (max-width: 375px){
  body {
    font-size: 8px;
    min-height: 500px;
    min-width: 300px;
  }
  .snellen-container {
    div {
      min-width: 290px;
    }
  }
  .duochrome-container {
    min-height: 500px;
  }
}
