<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Salomon`s web presence">

    <link rel="stylesheet" type="text/css" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">

    <noscript>
      <link
        rel="stylesheet"
        href=<%= JSON.stringify(htmlWebpackPlugin.options.fontURI) %>
      >
    </noscript>

    <title>salomon smeke</title>
  </head>
  <body>
    <div class="duochrome-container">
      <span class="left-duochrome"></span>
      <span class="skewed-duochrome-containers">
        <span class="left-duochrome large-duochrome"></span>
        <span class="right-duochrome small-duochrome"></span>
      </span>
      <span class="right-duochrome"></span>
    </div>
    <div class="top">
      <header>salomon smeke cohen</header>
      <nav><a href="https://ssmeke.io/slmnsmk_resume_aug_2018.pdf">resume
      </a> - <a href="https://github.com/SalomonSmeke" rel="noopener noreferrer" target="_blank">github
      </a> - <a href="https://linkedin.com/in/ssmeke" rel="noopener noreferrer" target="_blank">linkedin
      </a> - <a href="mailto:salomon@ssmeke.io" rel="noopener noreferrer" target="_blank">contact
      </a></nav>
    </div>
    <article aria-hidden="true" class="snellen-container">
      <div><span>I</span><span>1</span></div>
      <div><span>AM A</span><span>3</span></div>
      <div><span>SENIOR</span><span>6</span></div>
      <div><span>SOFTWARE</span><span>8</span></div>
      <div><span>ENGINEER IN</span><span>10</span></div>
      <div><span>CHICAGO AT 4C IN</span><span>13</span></div>
      <div><span>SIGHTS. PRIOR TO WHICH, I</span><span>15</span></div>
      <div><span>STUDIED SWE AT LOYOLA UNIVERSITY CHICAGO.</span><span>18</span></div>
    </article>
    <aside aria-hidden="true">
      <i>*this isnt a vision test, by the by, go see an eye doctor.</i>
    </aside>
    <summary aria-hidden="false">
      I AM A SENIOR SOFTWARE ENGINEER IN CHICAGO AT 4C IN SIGHTS. PRIOR TO WHICH, I STUDIED SWE AT LOYOLA UNIVERSITY CHICAGO.
    </summary>
    <div class="bottom">
      <nav aria-hidden="true">
        duochromes <button title="Red / Green" id="Rd/Gr">
          Rd/Gr
        </button> <button title="Coral / Cyan" id="Vi/Cy">
          Vi/Cy
        </button> <button title="Yellow / Purple" id="Pr/Yw">
          Yw/Pr
        </button> <button title="Secret duochromes." id="Secret">
          Secret
        </button> JS required.
      </nav>
    </div>
  </body>
  <!-- Deferred font loading. -->
  <script>
    (function() {
      const font = document.createElement('link');
      Object.assign(font, {
        'rel': 'stylesheet',
        'href': <%= JSON.stringify(htmlWebpackPlugin.options.fontURI) %>,
      });
      document.head.appendChild(font);
    })()
  </script>
  <!-- END: Deferred font loading. -->
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</html>
