<!doctype html>
<div class="body-text width-12">
  <h2 class="font-700">
    Hey internaut, thanks for visiting.
  </h2>
  <p>
    This is the homepage of one Salomon Smeke, who thought it acceptable to design a
    layout without considering content first. By the seat of his pants it went ok, and
    here are you.
  </p>
  <p>
    Please accept this boilerplate contact information as a token of my contact
    information such that we might interface:
    </br>
    <a href="mailto:salomon@ssmeke.io" rel="noopener" target="_blank">
      <strong>salomon@ssmeke.io</strong>
    </a>&nbsp;&nbsp;
    <a href="https://github.com/SalomonSmeke" rel="noopener" target="_blank">
      <strong>GitHub</strong>
    </a>&nbsp;&nbsp;
    <a href="#" rel="noopener" target="_blank">
      <strong>Resume (wip)</strong>
    </a>
  </p>
  <p>
    If you are visiting on a device with a fingerprinty small screen (fingerprinty by
    consequence of being touch sensitive):
  </p>
  <p>
    You will want to navigate by making horizontal finger streaks on your screen (left and right). Im very happy you are visiting at all, but try to come back on something else; this is a more hospitable environment for larger screens.
  </p>
  <p>
    Left (West) of this page, you will find an index which contains
    <strong>HYPERLINKS</strong> (wow). These can transport you to all sorts of content
    on this site by virtue of cyber-teleportation.
  </p>
  <p>
    The above text is like a carving on wood: it is rarely rewritten (save the
    occasional white-out by sanding).
  </p>
  <p>
    The below text is like a dating profile: there are fields to fill, the writer
    changes their mind about their content.
  </p>
  <p>
    Most mornings Salomon wakes up in beautiful: Chicago. Other mornings he wakes up
    other wheres.
  </p>
  <p>
    If Salomon went to a <strong>corporate</strong> event, he would wear a shirt. The
    shirt would have a <strong>CORPORATION's</strong> logo on it. 4C Insight's logo.
    This is because he works there.
  </p>
  <p>
    Lo and hark (and such), recently this here human dude has been bip-bop-bopping to
    some cripsy blues by <strong>Mojo Juju</strong>. Learn more here:
    </br>
    <a href="https://son.gg/3c6b9c/" rel="noopener" target="_blank">
      <strong>Mojo Juju - Sweet Tsunami Symphony</strong>
    </a>
  </p>
  <!-- <h3 class="font-700">
    And now, a scarcely updated journal with sentence long entries:
  </h3> -->
</div>
